*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    width: 100%;
}
.container{
    position: relative;
    float: left;
    width: 200px;
    margin-top: 22px;
}
.container .nav-tabs{
    width: 100%;
    border: solid 2px red;
}
.tab-pane .area{
    background-color: red;
}
.area{
    float: left;
    background-color: red;
}
#formula1{
    position: relative;
    float: left;
    margin-left: 122px;
}
#painel2{
    float: left;
}